<div class="main">
    <h1>Guten Tag, <b>{{data.firstName}} {{data.lastName}}</b>!</h1>
    <div class="view-content">
    <div class="container">
        <div class="container-header">
            Ihre Daten
        </div>
        <div class="container-body">
            Rolle: {{data.role}}<br/>
        </div>
    </div>
    <div class="container">
        <div class="container-header">
            Letzte Aktivitäten
        </div>
        <div class="container-body">
            
        </div>
    </div>
    <div class="container">
        <div class="container-header">
            Passwort ändern
        </div>
        <div class="container-body">
            <table>
                <tr><td>Aktuelles Passwort:</td><td><input type="password" class="form-control" /></td></tr>
                <tr><td>Neues Passwort:</td><td><input type="password" class="form-control" /></td></tr>
                <tr><td>Neues Passwort (WH):</td><td><input type="password" class="form-control" /></td></tr>
            </table>
            <a href="javascript:void" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i> Passwort ändern</a>
        </div>
    </div>
    </div>
</div>