<div class="mainMenu" [style.height.px]="height">
    <ul>
    	<li><a href="javascript:void"><i class="fa fa-user" aria-hidden="true"></i> Profil</a></li>
        <ul class="submenu">
        	<li><a routerLink="/meine-daten" routerLinkActive="active-sub">Meine Daten</a></li>
            <li><a routerLink="/passwort-aendern" routerLinkActive="active-sub">Passwort ändern</a></li>
        </ul>
        <li><a href="javascript:void(0)"><i class="fa fa-file-text" aria-hidden="true"></i> Dokumente</a></li>
        <ul class="submenu">
            <li><a routerLink="/verlaufsdokumentationen" routerLinkActive="active-sub">Verlaufsdokumentationen</a></li>
            <li><a href="#" routerLink="/jahreszielplanungen" routerLinkActive="active-sub">Jahreszielplanungen</a></li>
            <li><a routerLink="/jahreszielevaluationen" routerLinkActive="active-sub">Jahreszielevaluationen</a></li>
            <li><a routerLink="/fallverlaufsbesprechungen" routerLinkActive="active-sub">Fallverlaufsbesprechungen</a></li>
            <li><a routerLink="/erhebungen-ist-zustand" routerLinkActive="active-sub">Erhebungen von Ist-Zuständen</a></li>
            <li><a routerLink="/anwesenheitslisten" routerLinkActive="active-sub">Anwesenheitslisten</a></li>
            <li><a routerLink="/bedarfslisten" routerLinkActive="active-sub">Bedarfslisten</a></li>
            <li><a routerLink="/programmplan" routerLinkActive="active-sub">Programmplan</a></li>
        </ul>
        
        <li><a href="javascript:void(0)"><i class="fa fa-cogs" aria-hidden="true"></i> Einstellungen</a></li>
        <ul class="submenu">
        	<li><a routerLink="/rollen" routerLinkActive="active-sub"> Rollen / Zugriffsrechte</a></li>
            <li><a routerLink="/benutzer" routerLinkActive="active-sub"> Benutzer verwalten</a></li>
            <li><a routerLink="/klienten" routerLinkActive="active-sub"> Klienten verwalten</a></li>
        </ul>
    </ul>
</div>