/* You can add global styles to this file, and also import other style files */
 * {
     padding: 0;
     margin: 0;
     font-family: Roboto, sans-serif;
	 font-size:14px;
 }

 body, html {
     height: 100%;
     overflow: hidden;
 }

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    background-color: #ccc;
    border-color: #999;
}

.form-control {
        padding: 5px;
    color: #737373;
	    border-radius: 2px;
		    background-color: #FFF;
    border: 1px solid #B6B6B6;
}

.container {
    margin: 0.5em 0;
}

.container-header {
    color: #FFF;
    background: #900 !important;
    text-decoration: none!important;
    text-transform: none;
    font-size: 12px;
	padding:0.5em;
}

.container-body {
    padding: 0.5em;
    border: solid 1px #ccc;
}

.view-content {
	padding:1em;
	font-size: 12px;
}

h1.view-header {
  background-image: none!important;
    color: #900;
    text-transform: initial;
    font-weight: 300;
    font-size: 18px;
    padding: 0.5em;
	border-bottom: 1px solid #E4E4E4;
}

.no-border {
    border: 0px;
}

.main .Documents {
  width: 100%;
  display: table;
  box-sizing: border-box;
}

.main .Document {
  display:table-row;
}

.main .DocumentHeader {
  display:table-row;
}

.main .DocumentHeader div {
  display: table-cell;
  padding: 0.7em;
  color: #333 !important;
  font-weight: bold;
  border-bottom: 3px #900 solid;
}

.main .Document:nth-child(even) {
  background-color: #fff;
}

.main .Document:nth-child(odd) {
  background-color: #f9f9f9;;
}

.main .Document div {
  display: table-cell;
  padding: 0.7em;
  color: #333 !important;
}

.main .Document div i {
  color: #333 !important;
}